admin/configa.php
admin/siard/
www/config/confighdr.php
www/config/config.php
www/data/
dbptk-app-*.txt
records/
www/local/*.png
*.odg
*.docx
dSTN/
__pycache__/
tools/configPrep/in/
tools/configPrep/out/
tools/configPrep/cookie.dat
.gitconfig
