admin/configa.php
admin/siard/
www/config/confighdr.php
www/config/config.php
www/data/
www/files/*
!www/files/README.txt
dbptk-app-*.txt
records/
www/local/*
!www/local/README.txt
*.odg
*.docx
dSTN/
__pycache__/
tools/configPrep/in/
tools/configPrep/out/
tools/configPrep/cookie.dat
.gitconfig
