
html {
	font-size: var(--main-font-size);
	font-family: var(--main-fontfamily);
}

@media screen and (max-width: 480px) {
	html {
		font-size: var(--main-font-size);
		font-family: var(--main-fontfamily);
	}
}

@media print {
  input[type="checkbox"].no_print {
    display: none;
  }
}

body {
	background-color: var(--main-background-color);
	color: var(--main-body-color);
	font-family: var(--main-fontfamily);
	font-size: var(--main-font-size);
	text-align: left
}

img {
	border: 0 none;
}

h1 {
	color: var(--main-htext-color);
	font-family: var(--main-fontfamily);
	font-size: var(--main-font-h1-size);
	font-weight: var(--main-font-h1-weight); 
	margin-bottom: 0;
}

h2 {
	color: var(--main-htext-color);
	font-family: var(--main-fontfamily);
	font-size: var(--main-font-h2-size);
	font-weight: var(--main-font-h2-weight); 
	margin-top:0.2rem;
	margin-bottom:0;
}

h3 {
	color: var(--main-htext-color);
	font-family: var(--main-fontfamily);
	font-size: var(--main-font-h3-size);
	font-weight: var(--main-font-h3-weight); 
	margin-top: 0.2rem;
	margin-bottom: 0;
}

h4 {
	color: var(--main-htext-color);
	font-family: var(--main-fontfamily);
	font-size: var(--main-font-h4-size);
	font-weight: var(--main-font-h4-weight); 
	margin-top: 0.2rem;
	margin-bottom: 0;
}

h5 {
	color: var(--main-body-color);
	font-family: var(--main-fontfamily);
	font-size: var(--main-font-h5-size);
	font-weight: var(--main-font-h5-weight);
	margin-top: 0.2rem;
	margin-bottom: 0;
}

p {
	margin-bottom:0;
	margin-top:0;
}

a {
	color: var(--main-a-color);
	text-decoration: underline;
}

a:hover {
	color: var(--main-a-hoover-color);
}

hr {
	border-color: var(--main-hrborder-color);
}

table {
	font-family: var(--main-fontfamily);
	font-size: var(--main-font-size);
}

table.mydbtable {
	color: var(--mydbtable-color);
	font-family: var(--main-fontfamily);
	font-size: var(--main-font-size);
}

table.mydbtable th {
	border-width: 0.1rem 0.1rem 0.1rem 0.1rem;
	padding: 0.1rem 0.1rem 0.1rem 0.1rem;
	border-style: solid solid solid solid;
	border-color: gray gray gray gray;
	background-color: var(--mydbtable-th-background-color);
	text-align: center;
	border-radius: 4px / 4px;
}

table.mydbtable td {
	border-width: 0.1rem 0.1rem 0.1rem 0.1rem;
	padding: 0.1rem 0.3rem;
	border-style: hidden;
	background-color: var(--mydbtable-td-background-color);
	vertical-align: top;
}

table.sortable {
	color: var(--mydbtable-color);
	font-family: var(--main-fontfamily);
	font-size: var(--main-font-size);
}

table.sortable th {
	border-width: 0.1rem 0.1rem 0.1rem 0.1rem;
	padding: 0.1rem 0.1rem 0.1rem 0.1rem;
	border-style: solid solid solid solid;
	border-color: var(--sortable-th-border-color); 
	background-color: var(--sortable-th-background-color);
	text-align: center;
	border-radius: 4px / 4px;
}

table.sortable th:hover {
	border-color: var(--mydbtable-color);
	cursor: pointer;
}

table.sortable td {
	border-width: 0.1rem 0.1rem 0.1rem 0.1rem;
	padding: 0.1rem 0.3rem;
	border-style: hidden;
	background-color: var(--sortable-td-background-color);
}

table.sortable tbody tr:nth-child(even) td {
	background-color: var(--sortable-background-color);
}

.button {
	font-family: var(--main-fontfamily);
	font-size: var(--main-font-size);
	border: 0.1rem var(--main-buttonhoover-color) solid;
	border-radius: 0.25rem;
	background: var(--main-buttonbg-color);
	padding: 0.25em 0.80em;
}

.button:hover {
	font-family: var(--main-fontfamily);
	border: 0.1rem var(--main-buttonhoover-color) solid;
	background: var(--main-buttonhoover-color);
}

.box {
	background-color: var(--main-boxbg-color);
	padding: 0.3rem;
	display: none;
	position: absolute;
}

input[type="checkbox"]
{
	transform: scale(0.7);
}
input[type='checkbox']:checked
{
	-webkit-filter: grayscale(100%);
}
input[type='radio']:checked
{
	-webkit-filter: grayscale(100%);
}

select {
	font-family: var(--main-fontfamily);
	font-size: var(--main-font-size);
	border: 0.15rem solid var(--main-boxbg-color);
}
input {
	font-family: var(--main-fontfamily);
	font-size: var(--main-font-size);
	padding: 0.01rem;
	margin: 0.1rem 0.1rem;
	border: 0.15rem solid var(--main-boxbg-color);
}

textarea {
	font-family: var(--main-fontfamily);
	font-size: var(--main-font-size);
	padding: 0.01rem;
	margin: 0.1rem 0.1rem;
	border: 0.15rem solid var(--main-boxbg-color);
}

.required:after {
	content:"*";
	color: red;
}
 
ul, #nestedList {
	list-style-type: none;
	padding-left: 0.8rem;
}
#nestedList {
	margin: 0;
	padding: 0;
}
.caret {
	cursor: pointer;
	user-select: none;
}
.caret::before {
	content: "\B1";
	color: var(--main-htext-color);
	display: inline-block;
	margin-right: 0.15rem;
}
.caret-down::before {
	content: "–";
}
.caretNone {
	cursor: default;
	user-select: none;
	display: inline-block;
}
.caretNone::before {
	content: "\B1";
	color: transparent;
	display: inline-block;
	margin-right: 0.2rem;
}
ul.nested {
	display: none;
}
	ul.active {
	display: block;
}


.noClipboard {
	user-select: none;
}

.downloadArrow {
	color: var(--main-htext-color);
}

.helpMain {
	display: none;
	line-height: 1rem;
}
.helpExample {
	font-family: Courier New, Courier;
	line-height: 1.3rem;
}

.logo {
	font-family: Courier, cursive, sans-serif;
	font-size: var(--main-font-size);
	text-align: right;
	margin: 0.2rem;
	color: #333;
	background-color: #FFFFFF;
	line-height:0.31rem;
}
