/* can be overriden by a copy of this file as local/mainVar.css */

:root {
  --main-font-size: 0.9rem;                       /* font size */
  --main-font-h1-size: 1.4rem;                     /* font size */
  --main-font-h2-size: 1.2rem;                     /* font size */
  --main-font-h3-size: 1.0rem;                     /* font size */
  --main-font-h4-size: 0.9rem;                     /* font size */
  --main-font-h5-size: 0.6875rem;                  /* font size */
  --main-font-h1-weight: normal;                   /* normal, bold */
  --main-font-h2-weight: normal;                   /* normal, bold */
  --main-font-h3-weight: normal;                   /* normal, bold */
  --main-font-h4-weight: normal;                   /* normal, bold */
  --main-font-h5-weight: normal;                   /* normal, bold */

  --main-a-color: #4D4D4D;                         /* link */
  --main-a-hoover-color: FireBrick;                /* link hoover */
  --main-background-color: #D7E1EB;                /* main background */
  --main-body-color: Black;                        /* text */
  --main-boxbg-color: MintCream;                   /* hoover text for help */
  --main-boxborder-color: #CCC;                    /* ? */
  --main-buttonbg-color: Gainsboro;                /* big buttons */
  --main-buttonhoover-color: DarkGray;             /* big buttons when hoover */
  --main-fontfamily: Arial,Helvetica,sans-serif;   /* main font */
  --main-hrborder-color: LightGray;                /* loading circle */
  --main-htext-color: #00578F;                     /* header lines, titles, subtitles */
  
  --mydbtable-color: #4D4D4D;                      /* table/list view text */
  --mydbtable-td-background-color: #F5F5F5;        /* table/list view background color */
 
  --sortable-background-color: MintCream;          /* table view: background color for every 2nd row, 2,4,6 */
  --sortable-td-background-color: White;           /* table view: background color for every 2nd row, 1,3,5 */
  --sortable-th-background-color: LightBlue;       /* table view: header row background */
  --sortable-th-border-color: LightBlue;           /* table view: header row border */ 
}
