<?php
//local settings
//database

$PDODB = "pgsql";			//database Data Source Name (DSN) prefix for PHP PDO

$serverName = "localhost";
$port="5432";
$userName = "ddvreader";
$password = "ddvreader";

$timezone='Europe/Ljubljana';
$debugCode = "123";			//activate debug: .../dbdipview/login.htm?debug=123

